<!-- HEADER - FINAL POLISHED VERSION -->
<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logohoriz.png" alt="International Optima Purchase Logo" height="56">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        
        <!-- Main Navigation Links -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Domaines d'intervention
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/developpement-commercial">Développement commercial</a></li>
            <li><a class="dropdown-item" routerLink="/back-office-commercial">Back-office commercial</a></li>
            <li><a class="dropdown-item" routerLink="/secretariat">Secrétariat</a></li>
            <li><a class="dropdown-item" routerLink="/administration-des-ventes">Administration des ventes</a></li>
            <li><a class="dropdown-item" routerLink="/sourcing-local-international">Sourcing local & international</a></li>
            <li><a class="dropdown-item" routerLink="/gestion-des-achats">Gestion des achats & approvisionnements</a></li>
            <li><a class="dropdown-item" routerLink="/gestion-des-projets">Gestion de projets</a></li>
            <li><a class="dropdown-item" routerLink="/comptabilite">Comptabilité</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conditions-tarifs">Conditions et tarifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/a-propos">A propos</a>
        </li>
        
        <!-- Language Selector -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle lang-dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="country-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2"><path fill="#002395" d="M0 0h1v2H0z"/><path fill="#fff" d="M1 0h1v2H1z"/><path fill="#ED2939" d="M2 0h1v2H2z"/></svg>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">English (Soon)</a></li>
          </ul>
        </li>

        <!-- Call to Action Button -->
        <li class="nav-item">
            <a class="btn btn-contact-nav" href="#contact">Contactez-nous</a>
        </li>
      </ul>
    </div>
  </div>
</nav>